<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Details</title>
</head>

<body>
    <h1> Artist Details</h1>
    <div>
        <h4>{{artist['id']}}</h4>
        <h4>{{artist['name']}}</h4>
        <img src="{{artist['thumbnail']}}" alt="" id="thumbnail">
        <b>{{artist['description']}}</b>
        <h3>Albums: {{artist[4]}}</h3>
        <nav>
            <a class="info" href="/info/{{artist['id']}}"><button style="background: rgb(21, 83, 80)">Info</button></a>
            <br>
        </nav>
    </div>

    <h1> infos</h1>
    {% for album in artist['albums'] %}
    <div style="width: 200px; display: inline-block;" id="movie-column">
        <img src="{{album['thumbnail']}}" alt="" id="thumbnail">
        <h4><b>Album : {{album['title']}}</b></h4>
        <nav>
            <a class="Details" href="/info/{{album['id']}}"><button style="background: rgb(21, 83, 80)"> Album
                    Details</button></a>
            <br>
        </nav>
    </div>
    {%endfor%}

    <!-- nav button to come back to home page-->
    <nav>
        <a class="home" href="/"><button style="background: rgb(21, 83, 80)">Home</button></a>
        <br>
    </nav>
</body>

</html>













</body>

</html>