<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Album Details</title>
</head>

<body>
    <h1> Album Details</h1>
    <div>
        <h4>{{album['id']}}</h4>
        <h4>{{album['title']}}</h4>
        <h4>{{album['year_released']}}</h4>
        <img src="{{album['thumbnail']}}" alt="" id="thumbnail">
        <b>{{album['description']}}</b>
        <nav>
            <a class="info" href="/info/{{artist['id']}}"><button style="background: rgb(21, 83, 80)">Info</button></a>
            <br>
        </nav>
    </div>

    <h1> infos</h1>
    {% for song in album['songs'] %}
    <div style="width: 200px; display: inline-block;" id="movie-column">
        <img src="{{song['youtube_id']}}" alt="" id="thumbnail">
        <h4><b>Song : {{song['name']}}</b></h4>
        <h4><b>Song : {{song['duration']}}</b></h4>
        <nav>
            <a class="Details" href="/details/{{artist['id']}}"><button style="background: rgb(21, 83, 80)"> Album
                    Details</button></a>
            <br>
        </nav>
    </div>
    {%endfor%}

    <!-- nav button to come back to home page-->
    <nav>
        <a class="home" href="/"><button style="background: rgb(21, 83, 80)">Home</button></a>
        <br>
    </nav>
</body>

</html>